<div class="container mx-auto pt-3 pb-16">
  <hr />
  <div class="relative overflow-x-auto shadow-md sm:rounded-lg mt-4">
    <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
      <thead
        class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400"
      >
        <tr class="text-orange-500">
          <th scope="col" class="px-6 py-3">Sample_Ref_No</th>
          <th scope="col" class="px-6 py-3">Sample_Description</th>
          <th scope="col" class="px-6 py-3">Program</th>
          <th scope="col" class="px-6 py-3">Start_Date</th>
          <th scope="col" class="px-6 py-3">Completion_Date</th>
          <th scope="col" class="px-6 py-3">
            <span class="sr-only">Edit</span>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr
          *ngFor="let requisition of requisitions"
          class="bg-white border-b dark:bg-gray-800 dark:border-gray-700"
        >
          <th
            scope="row"
            class="px-6 py-4 font-medium text-gray-900 dark:text-white whitespace-nowrap"
          >
            {{ requisition.Sample_Ref_No }}
          </th>
          <td class="px-6 py-4">{{ requisition.Sample_Description }}</td>
          <td class="px-6 py-4">{{ requisition.Sample_Description }}</td>
          <td class="px-6 py-4">{{ requisition.Start_Date }}</td>
          <td class="px-6 py-4">{{ requisition.Completion_Date }}</td>
          <td class="px-6 py-4 text-right">
            <a
              href="#"
              class="font-medium text-blue-600 dark:text-blue-500 hover:underline"
              >Edit</a
            >
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
