<div class="flex flex-col justify-between mt-6">
  <aside>
    <ul>
      <li>
        <a
          routerLink="/"
          class="flex items-center px-4 py-2 text-gray-700 hover:bg-gray-100 rounded-md"
        
        >
          <span class="material-symbols-outlined"> dashboard </span>

          <span class="mx-4 font-medium">Dashboard</span>
        </a>
      </li>

      <li>
        <a
          routerLink="/RequisitionForm"
          class="flex items-center px-4 py-2 mt-5 text-gray-600 rounded-md hover:bg-gray-100"
          
        >
          <span class="material-symbols-outlined"> edit_note </span>
          <span class="mx-4 font-medium">Forms</span>
        </a>
      </li>
      <li>
        <a
          class="flex items-center px-4 py-2 mt-5 text-gray-600 rounded-md hover:bg-gray-100"
          routerLink="/Settings"
        >
          <span class="material-symbols-outlined"> manage_accounts </span>

          <span class="mx-4 font-medium">Settings</span>
        </a>
      </li>
    </ul>
  </aside>
</div>
