<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>UNRALMS</title>
    <script src="https://cdn.tailwindcss.com/"></script>
  </head>

  <body>
    <!-- top navbar -->
    <app-navbar></app-navbar>
    <div class="pt-12 lg:flex">
      <div
        class="flex flex-col w-full px-4 py-8 overflow-y-auto border-b lg:border-r lg:h-screen lg:w-64"
      >
      <!-- sidenav -->
        <app-side-nav></app-side-nav>
      </div>
      <!-- body -->
      <div class="w-full h-full">
        <div
          class="p-16 mr-8"
        >
        <!-- content display -->
          <router-outlet></router-outlet>
        </div>
      </div>
    </div>
  </body>
</html>
