<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>title</title>
  </head>
  <body>
    <!-- navbar -->
    <app-navbar></app-navbar>
    <!-- end of navbar -->
    <div class="pt-12 lg:grid grid-cols-6">
      <!-- sidenav -->
      <div class="col-span-1 shadow-md" style="background-color: #464040">
        <app-sidenav></app-sidenav>
      </div>
      <!-- end of sidenav -->
      <!-- main content -->
      <div class="w-full h-full col-span-5 pt-8 relative">
        <router-outlet></router-outlet>
      </div>
      <!-- end of main content -->
    </div>
  </body>
</html>
