<!-- form section starts -->
<div
  class="container mx-auto w-5/6 flex justify-center items-center pb-20 z-50"
>
  <div class="row w-full">
    <div>
      <h1 class="text-5xl text-green-800 py-6 font-extrabold">Requisition Form</h1>
    </div>
    <form
      #reqForm="ngForm"
      (ngSubmit)="getUserData(reqForm.value)"
      autocomplete="off"
    >
      <div class="mb-6">
        <label
          for="toperson"
          class="block mb-2 text-sm font-medium text-gray-900"
          >For the attention of:</label
        >
        <input
          type="text"
          id="toperson"
          ngModel
          name="toperson"
          class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
          placeholder=""
          required=""
        />
      </div>

      <div class="grid gap-6 mb-6 lg:grid-cols-2">
        <div>
          <label for="from" class="block mb-2 text-sm font-medium text-gray-900"
            >From:
          </label>
          <input
            type="text"
            id="from"
            ngModel
            name="from"
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
            placeholder=""
            required=""
          />
        </div>
        <div>
          <label
            for="dates"
            class="block mb-2 text-sm font-medium text-gray-900"
            >Date:</label
          >
          <input
            type="date"
            id="dates"
            ngModel
            name="dates"
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
            placeholder="Doe"
            required=""
          />
        </div>
        <div>
          <label
            for="RefNo"
            class="block mb-2 text-sm font-medium text-gray-900"
            >Sample Reference Number:</label
          >
          <textarea
            id="RefNo"
            type="text"
            ngModel
            name="RefNo"
            rows="4"
            class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500"
            placeholder="Your message..."
          ></textarea>
        </div>
        <div>
          <label
            for="Description"
            class="block mb-2 text-sm font-medium text-gray-900"
            >Brief Description of Samples,Origin and purpose of testing:
          </label>
          <textarea
            id="Description"
            type="text"
            ngModel
            name="Description"
            rows="4"
            class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500"
            placeholder="Your message..."
          ></textarea>
        </div>
        <div>
          <label
            for="testrequired"
            class="block mb-2 text-sm font-medium text-gray-900"
            >Tests Required:
          </label>
          <input
            type="text"
            id="testrequired"
            ngModel
            name="testrequired"
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 mb-6"
            placeholder=""
            required=""
          />
          <div id="newInputForm" class=""></div>
        </div>
        <div class="top-2">
          <label
            for="addInputBtn"
            class="block mb-2 text-sm font-medium text-gray-900"
            >Click to add a test:
          </label>
          <a
            (click)="AddInput()"
            class="bg-green-500 cursor-pointer hover:bg-green-700 text-white font-bold py-2 px-4 rounded-full focus:outline-none focus:shadow-outline"
          >
            Add
          </a>
        </div>
      </div>
      <div class="mb-6">
        <label for="Review" class="block mb-2 text-sm font-medium text-gray-900"
          >Review, checking and Approval Required: Review, checking and Approval
          Required:</label
        >
        <textarea
          id="Review"
          type="text"
          ngModel
          name="Review"
          rows="4"
          class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500"
          placeholder="Your message..."
        ></textarea>
      </div>
      <div class="mb-6">
        <label
          for="Program"
          class="block mb-2 text-sm font-medium text-gray-900"
          >Program</label
        >
        <textarea
          id="Program"
          type="text"
          ngModel
          name="Program"
          rows="4"
          class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500"
          placeholder="Your message..."
        ></textarea>
      </div>
      <div class="grid gap-6 mb-6 lg:grid-cols-2">
        <div>
          <label
            for="startdate"
            class="block mb-2 text-sm font-medium text-gray-900"
            >Start Date:
          </label>
          <input
            type="date"
            id="startdate"
            ngModel
            name="startdate"
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
            placeholder=""
            required=""
          />
        </div>
        <div>
          <label
            for="enddate"
            class="block mb-2 text-sm font-medium text-gray-900"
            >End Date:</label
          >
          <input
            type="date"
            ngModel
            name="enddate"
            id="enddate"
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
            placeholder="Doe"
            required=""
          />
        </div>
      </div>

      <div class="mb-6">
        <label
          for="Comments"
          class="block mb-2 text-sm font-medium text-gray-900"
        >
          Comments:</label
        >
        <textarea
          id="Comments"
          type="text"
          rows="4"
          ngModel
          name="Comments"
          class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500"
          placeholder="Your message..."
        ></textarea>
      </div>
      <div class="grid gap-6 mb-6 lg:grid-cols-3">
        <div>
          <label
            for="requester"
            class="block mb-2 text-sm font-medium text-gray-900"
            >Requester signature:
          </label>
          <input
            type="text"
            id="requester"
            ngModel
            name="requester"
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
            placeholder=""
            required=""
          />
        </div>
        <div>
          <label
            for="labmanagersign"
            class="block mb-2 text-sm font-medium text-gray-900"
            >Acceptance signed by Laboratory Manager:</label
          >
          <input
            type="text"
            id="labmanagersign"
            ngModel
            name="labmanagersign"
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
            placeholder=""
            required=""
          />
        </div>
        <div>
          <label
            for="signeddate"
            class="block mb-2 text-sm font-medium text-gray-900"
            >Signed on:</label
          >
          <input
            type="date"
            id="signeddate"
            ngModel
            name="signeddate"
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
            placeholder=""
            required=""
          />
        </div>
      </div>
      <button
        type="submit"
        class="text-white bg-green-700 hover:bg-green-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center"
      >
        Submit Details
      </button>
    </form>
  </div>
</div>
