<!-- header section -->
<div class="w-full h-52 bg-green-800">
  <h1 class="text-4xl text-white p-6 font-bold">DashBoard</h1>
  <div class="grid lg:grid-cols-3 gap-6 p-6">
    <div class="w-full bg-slate-100 shadow-lg rounded-xl h-28 p-3">
      <h2 class="text-2xl text-green-800 font-bold">Total Number of Tests</h2>
      <h1 class="text-3xl text-green-800 font-bold text-right">30</h1>
    </div>
    <div class="w-full bg-slate-100 shadow-lg rounded-xl h-28 p-3">
      <h2 class="text-2xl text-green-800 font-bold">Total Valid Tests</h2>
      <h1 class="text-3xl text-green-800 font-bold text-right">30</h1>
    </div>
    <div class="w-full bg-slate-100 shadow-lg rounded-xl h-28 p-3">
      <h2 class="text-2xl text-green-800 font-bold">Total Invalid Tests</h2>
      <h1 class="text-3xl text-green-800 font-bold text-right">30</h1>
    </div>
  </div>
</div>
<!-- main body -->
<div class="container mx-auto mt-4">
  <!-- title section -->
  <div class="w-full py-6 text-left font-bold text-4xl">Results:</div>
</div>
