<nav class="fixed z-30 w-full bg-white border-b-2 border-green-600">
  <div class="px-6 py-3">
    <div class="flex items-center justify-between">
      <div class="flex items-center justify-start">
        <img src="../assets/img/unralogo.png" width="45px" alt="unralogo">
        <a href="#" class="lg:hidden sm:visible flex items-center text-xl font-bold">
          <span class="text-green-600"
            >UNRA LMS</span
          >
        </a>
        <a href="#" class="lg:visible lg:flex sm:hidden items-center text-xl font-bold">
          <span class="text-green-600"
            >UNRA Laboratory Management System</span
          >
        </a>

      </div>
      <div class="flex items-center">
        <div class="hidden mr-6 lg:block">
          <form action="#">
            <label class="sr-only">Search</label>
            <div class="relative mt-1 lg:w-64">
              <div class="absolute inset-y-0 left-0 flex items-center pl-3">
                <span class="material-symbols-outlined">
                  search
                  </span>
              </div>
              <input
                type="text"
                name="name"
                class="border text-gray-900 sm:text-sm rounded-lg focus:outline-none focus:ring-1 block w-full pl-10 p-2.5"
                placeholder="Search"
              />
            </div>
          </form>
        </div>
        <div>
          <span class="material-symbols-outlined">
            notifications
            </span>
        </div>

        <div class="relative inline-block">
          <!-- Dropdown toggle button -->
          <button
            class="relative flex items-center p-2 text-sm text-gray-600 bg-white border border-transparent rounded-md focus:border-blue-500 focus:ring-opacity-40 dark:focus:ring-opacity-40 focus:ring-blue-300 dark:focus:ring-blue-400 focus:ring dark:text-white dark:bg-gray-800 focus:outline-none"
          >
            <span class="mx-1">Ochieng Paul</span>
            <svg
              class="w-5 h-5 mx-1"
              viewBox="0 0 24 24"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M12 15.713L18.01 9.70299L16.597 8.28799L12 12.888L7.40399 8.28799L5.98999 9.70199L12 15.713Z"
                fill="currentColor"
              ></path>
            </svg>
          </button>

          <!-- Dropdown menu -->
          <div
            class="absolute right-0 z-20 w-56 mt-2 overflow-hidden bg-white rounded-md"
          ></div>
        </div>
      </div>
    </div>
  </div>
</nav>